body {
    background-color: blue;
}

.form {
    margin-left: 600px;
}

p {
    float: left;
}

.devis {
    margin-block-end: 30px;
}

.container-fluid bg-light {
    border-radius: 10px;
}

.button {
    border-radius: 12px;
}

tr:hover {
    background-color: rgba(186, 85, 211, 0.192);
}

tr {
    border: 1px dotted;
}

td {
    border-top: 1px solid;
}

table {
    width: 1300px;
    height: 200px;
}