* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    /*background:#FFFFFF;
	background-repeat:repeat-x;*/
    width: 100%;
    font-family: Calibri;
    font-size: 13px;
    color: #666666;
    background-color: #EDEEEE;
    background-image: url(../images/motifgb2.jpg);
    background-attachment: fixed;
}

input,
select {
    background-color: #888888;
    color: #EDEEEE;
    font-family: Calibri;
    font-size: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 80%;
    height: 25px;
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 0px #aaa;
}

input[type="button"] {
    font-weight: bold;
    font-size: 1.5vw;
    height: 35px;
    background-color: #666666;
}

input:hover {
    background-color: #a23538;
    cursor: pointer;
}

select:hover {
    background-color: #a23538;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    /*margin-bottom:5px;*/
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #666666;
    text-decoration: none;
}

a:active {
    color: #666666;
    text-decoration: none;
}

.bord {
    float: left;
    width: 5%;
    height: 25px;
}

.suite {
    width: 15%;
    height: 25px;
    float: left;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.des {
    width: 30%;
    height: 25px;
    float: left;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
}

.prix {
    width: 15%;
    height: 25px;
    float: left;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}

.div_imc {
    float: left;
    height: 55px;
    text-align: center;
    padding-top: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-top: #666666 2px solid;
    border-bottom: #666666 2px solid;
}

.div_imc_ind {
    float: left;
    width: 4%;
    height: 10px;
    text-align: center;
}

.div_tranche1 {
    background-color: #366f50;
}

.div_tranche2 {
    background-color: #666666;
}

.div_tranche3 {
    background-color: #a23538;
}

.div_conteneur_parent {
    width: 100%;
    height: auto;
    text-align: center;
}

.div_conteneur_page {
    margin-top: 5px;
    width: 80%;
    text-align: left;
    border: #666666 1px solid;
    height: auto;
    display: inline-block;
    background-color: #FFFFFF;
    background-image: url(../images/textpap4.jpg);
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.titre_h1 {
    width: auto;
    display: block;
    height: auto;
    text-align: center;
    background-color: #EDEEEE;
    border: #666666 1px solid;
    padding-top: 20px;
    padding-bottom: 8px;
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#cadre1 {
    width: auto;
    height: 100px;
    display: block;
    position: relative;
    background-color: #EDEEEE;
    border: #666666 1px solid;
    padding-top: 12px;
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#cadre2 {
    width: auto;
    height: 100px;
    display: block;
    position: relative;
    background-color: #EDEEEE;
    border: #666666 1px solid;
    padding-top: 12px;
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.titre_page {
    width: auto;
    padding-top: 18px;
    height: 42px;
    font-family: Calibri;
    color: #FFFFFF;
    text-align: right;
    background-image: url(../images/bg-tech-std.png);
    background-repeat: no-repeat;
    background-color: #666666;
    padding-right: 10px;
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.pied_page {
    float: left;
    width: 100%;
    padding-bottom: 6px;
    height: 42px;
    background-color: #666666;
    border: #333 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.div_saut_ligne {
    width: 100%;
    height: 5px;
    display: inline-block;
}

.div_int_page {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
    height: auto;
    font-size: 14px;
    font-family: Calibri;
    color: #666666;
    text-align: left;
}